.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Artifacts
.gradle
build
target
gradle
classes
out/

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
*.idea

# Eclipse artifacts
.classpath
.project
.settings/
